/* Start Variables:  */

:root {
    --main-color: #10CAB7;
    --section-padding: 60px;
}

/* End Variables */

/* Start Global Rules : */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Media Queries : */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
    .container {
        width: 730px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 940px;
}
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}

/* End Media Queries  */

.container {
    margin: 0 auto;
}

/* End Global Rules  */

/* Start Components :  */

.component {
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    color: #EBECED;
    position: relative;
}

/* End Componenents  */

/* Start Header : */

header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    line-height: 0;
}

.logo img {
    width: 60px;
}

.links {
    position: relative;
    width: 200px;
    height: 14px;
}

.icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    position: absolute;
    right: 0;
    transition: 0.3s;
}

.icon span {
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: black;
}

.icon span:nth-child(2) {
    width: 60%;
}

.icon span:last-child {
    margin-bottom: 0;
}

.icon:hover span:nth-child(2) {
    width: 100%;
}

.links ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    display: none;
    position: absolute;
    top: 34px;
    z-index: 1;
}

.links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    right: 0;
    top: -20px;
}

.links ul li a {
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    color: black;
    display: block;
}

.links ul li a:hover {
    padding-left: 20px;
}

.links ul li:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}

.links:hover ul {
    display: block;
}

/* End Header  */

/* Start Landing Page :  */

.landing {
    height: calc(100vh - 64px);
    background-image: url(../images/landing.jpg);
    background-size: cover;
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.landing .text h1 {
    color: var(--main-color);
    font-size: 50px;
    margin: 0;
}

.landing .text p {
    font-size: 25px;
    line-height: 1.8;
}

/* End Landing Page  */

/* Start Features :  */

.features {
    background-color: #eee;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
    gap: 20px;
}

.features .container div {
    text-align: center;
    line-height: 1.8;
}

.features .container div i {
    color: var(--main-color);
}

/* End Features  */

/* Start Services :  */

.services {
    padding-top: var(--section-padding);
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.services .component::before {
    content:"Don't be busy, be productive";
    position: absolute;
    bottom: 8px;
    font-size: 20px;
    font-weight: normal;
    color: #797979;
    left: 50%;
    transform: translateX(-50%);
}

.services .grid-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: var(--section-padding);
}

.services .grid-services .title i {
    color: var(--main-color);
}

.services .grid-services .image {
    width: 360px;
    grid-row: span 2;
    position: relative;
}

.services .grid-services .image img{
    width: 270px;
    height: 350px;
    transform: translateX(45px);
}

@media (max-width: 767px) {
    .component {
        font-size: 60px;
    }
    .services .component::before {
        font-size: 10px;
    }
}

.services .grid-services .image .rectangle {
    position: absolute;
    background-color: #2C4755;
    width: 90px;
    height: 450px;
    right: 0;
    z-index: -1;
    top: -50px;
}

@media (max-width: 1200px) {
    .services .grid-services .image {
        display: none;
    }
}

.services .grid-services .title {
    display: flex;
}

.services .grid-services .title .text {
    margin-left: 20px;
}

.services .grid-services .title h3 {
    margin-top: 0;
}

.services .grid-services .title .text p {
    font-weight: 300;
    color: #444;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .services .grid-services .title {
        flex-direction: column;
    }
    .services .grid-services .title i {
        align-self: center;
        margin-bottom: 10px;
    }
    .services .grid-services .title .text {
        text-align: center;
        margin-left: 0;
    }
}

/* End Services :  */

/* Start Portfolio :  */

.portfolio {
    background-color: #F6F6F6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .component::before {
    content:"If you do it right, it will last forever.";
    position: absolute;
    bottom: 8px;
    font-size: 20px;
    font-weight: normal;
    color: #797979;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .portfolio .component::before {
        font-size: 10px;
    }
}

.portfolio .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: var(--section-padding);
}

.portfolio .portfolio-grid img {
    max-width: 100%;
}

.portfolio .portfolio-grid div {
    background-color: white;
    margin: 0 10px;
}

.portfolio .portfolio-grid div h3,
.portfolio .portfolio-grid div p {
    margin-left: 10px;
}

.portfolio .portfolio-grid div p {
    color: #777777;
}

/* End Portfolio  */

/* Start About :  */

.about .component::before {
    content:"Less is more work";
    position: absolute;
    bottom: 8px;
    font-size: 20px;
    font-weight: normal;
    color: #797979;
    left: 50%;
    transform: translateX(-50%);
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container .image {
    width: 460px;
    height: 450px;
    position: relative;
}

.about .container .image img {
    width: 280px;
    height: 400px;
    transform: translateX(50px);
}

.about .container {
    padding-top: var(--section-padding);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.about .text hr {
    width: 50%;
    border: 1px solid var(--main-color);
    display: inline-block;
}

.about .text .bold{
    font-weight: bold;
    margin-bottom: 40px;
}

.about .container .image .before {
    width: 90px;
    height: 500px;
    background-color: #EBECED;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
}

.about .container .image .after {
    width: 180px;
    height: 420px;
    /* background-color: black; */
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
    border-left: 75px solid var(--main-color);
    border-bottom: 75px solid var(--main-color);
}

@media (max-width: 1199px) {
    .about .container .image .before,
    .about .container .image .after {
        display: none;
    }
    .about .container .image {
        width: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50px);
    }
    .about .text {
        text-align: center;
    }
}

@media (max-width: 590px) {
    .about .container {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}

@media (max-width: 767px) {
    .about .component::before {
        font-size: 10px;
    }
}

/* End About  */

/* Start Contact :  */

.contact {
    background-color: #F6F6F6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .component::before {
    content:"We are born to create";
    position: absolute;
    bottom: 8px;
    font-size: 20px;
    font-weight: normal;
    color: #797979;
    left: 50%;
    transform: translateX(-50%);
}

.contact .text {
    text-align: center;
}

.contact .text h3:first-of-type {
    color: #2C4755;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
}

.contact .text h3:last-of-type {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
}

.contact .text p {
    display: inline-block;
}

@media (max-width: 767px) {
    .contact .component::before {
        font-size: 10px;
    }
    .contact .text h3:last-of-type,
    .contact .text h3:first-of-type {
        font-size: 25px;
    }
}

/* End Contact  */

/* Start Footer :  */

footer {
    background-color: #2C4755;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    color: white;
}

footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer  */